*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: palevioletred;
}
header{
    height: 200px;
    padding: 18px 0;
    background-color: aliceblue;
}

@media (min-width: 1024px){
    aside{
        float: left;
        width: 25%;
        text-align: center;
    }
    main{
        width: 75%;
        float: left;
    }
    a{
        color: palevioletred;
        font-family: Georgia, 'Times New Roman', Times, serif;
        display: inline;
        padding-right: 25px;
        text-decoration: none;
    }
    #menu{
        list-style-type: none;
        float: right;
        padding-right: 15%;
    }
}
@media (max-width: 1023px) {
    aside {
        clear: both;
        width: 100%; 
        text-align: center; 
        margin: 0 auto; 
    }
    main {
        width: 100%; 
        float: none; 
    }
    a{
        color: palevioletred;
        font-family: Georgia, 'Times New Roman', Times, serif;
        display: inline;
        padding-right: 1px;
        text-decoration: none;
        text-align: center;
    }
    #menu{
        list-style-type: none;
        text-align: center;
    }
}
footer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: palevioletred;
    clear: both;
    background-color: aliceblue;
    text-align: center;
    height: 50px;
    padding-top: 20px;
}

#logoMa{
    float: right;
    padding-top: 18px;
    padding-right: 25px;
    width: 200px;
    padding-bottom: 10px;
}
.clear{
    clear: both;
}
h1{
    padding-top: 50px;
    text-align: center;
}
#fotoMa{
    width: 200px;
}
#descPerfil{
    padding-bottom: 20px;
    color: palevioletred;
}
.tituloMain{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
.foto{
    width: 255px;
    height: 255px;
}
section{
    text-align: center;
}

p{
    color:black;
}
input[type=text], input[type=email], textarea {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit]{
    background-color: rgb(228, 220, 220);
    color: palevioletred;
    border: 1px solid black;
    padding: 12px 24px;
    border-radius: 5px;
    margin-bottom: 10px;
}
form{
    background-color: aliceblue;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 5px;
    margin-bottom: 20px;
}